<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body class="theme-base-aw">

    {% include sidebar.html %}

    <div class="content container">
      {{ content }}
    </div>

    <!-- Start of StatCounter Code for Default Guide -->
    <script type="text/javascript">
    var sc_project=10359832; 
    var sc_invisible=1; 
    var sc_security="4b709e66"; 
    var sc_https=1; 
    var scJsHost = (("https:" == document.location.protocol) ?
    "https://secure." : "http://www.");
    document.write("<sc"+"ript type='text/javascript' src='" +
    scJsHost+
    "statcounter.com/counter/counter.js'></"+"script>");
    </script>
    <noscript><div class="statcounter"><a title="site stats"
    href="http://statcounter.com/" target="_blank"><img
    class="statcounter"
    src="http://c.statcounter.com/10359832/0/4b709e66/1/"
    alt="site stats"></a></div></noscript>
    <!-- End of StatCounter Code for Default Guide -->
  </body>
</html>
